
 body{
/*
background-image: url(background6.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
*/


}
#Contact-main{

    width:100%; 
    margin: auto ;
    padding: 0;

}
#Contact-header
{

}
#Contact-content{
    text-align: center ;

}
#Contact-Content1{
    background-color: darkgrey;
    width: 30%;
    text-align: center;
    position:absolute;
    top:20%;
    margin-left:35%; 

}

#Contact-Content1-b{
    float: right;

}
#Contact-Content1-a{

    float: left;

}



 #Contact-Content2{
    background-color: darkgrey;
     width: 30%;
     height: 110px;
     text-align: left;
     position:absolute;
     margin-left: 35%;
     top:50%;
     border: 1px

}
#Contact-Content3{
    background-color: darkgrey;
     width: 30%;
     text-align: left;
     position:absolute;
     margin-left: 35%;
     top:78%;
     border: 1px;

}

#Contact-Content3-a{

    float: right;
}
  #Contact-Content3-b{        
    float: left;

}


 #Contact-Content4{
    background-color: darkgrey;
     width: 30%;
     text-align:left;
     position:absolute;
     margin-left: 35%;
     top:107%;
     border: 1px;
     padding: 0px;

}
#Contact-Content4-a{

    float: right;
}
  #Contact-Content4-b{
    float: left;

}

#Contact-Content5{
     background-color: darkgrey;
     width: 30%;
     text-align:left;
     position:absolute;
     margin-left: 35%;
     top:140%;
     border: 1px;
     padding: 0px;
}

#Contact-Content5-a{

    float: right;

}
  #Contact-Content5-b{
    float: left;

}