#classroomS-main{
            width:70%;
            height:100%;
            position: relative;
            top:20%;
            margin-left: 50%;
            bottom: 10%;
            margin-right: 20%;
            margin: auto ;
            padding: 0;
            background-image: url(contentb1jpg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
           
  
       }
        #classroomT-mainContent{
            height: 15px ;
        
       }
        #classroomS-mainContent{
            height: 15px ;
        
       }
       body{
        background-image: url(background6.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%
      
       }
       #classroomS-Content{
            width: 100%;
            margin: 0;
            padding: 0 ;
     }
  
      #classroomS-Content1{

            width: 100%;
       
       }
       
      #classroomS-Content1-a{
       
           width: 50%;
    
        }
       
       
       #classroomS-Content1-b{
           
           text-align: right;
           float:right ;
            width: 50%;
       
       }
       
       #classroomS-Content2{
            
           
            text-align: center;
       
       }
       .one {
        border-style:solid;
        border-width: medium;
        border-color: black;
       }